.listContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.userContainer {

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  cursor: pointer;
  font-variant: small-caps;
  width: 100%;

  margin-bottom: 20px;
  /* padding: 15px; */

  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;

  transition: all 0.3s ease;
}

.userContainer:hover {
  transform: scale(1.02, 1.02);
  /* credits to Samuel Thornton from https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.userContainer span {
  width: 100%;
}

.lineBreak {
  height: 50px;
  margin: 20px 10px;
}

.language {
  font-size: 14px;
  color: rgb(129, 129, 129);
}

.language p {
  color: rgb(0, 0, 0);
  margin: 5px 0;
  text-align: center;
}

.name {
  text-align: center;
}

.header {
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;
}