.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  height: 500px;
  margin: 150px auto 0;
  margin-top: 60px;
}

.title {
  text-align: center;
  font-weight: 400;
}

.description {
  text-align: center;
  font-weight: 400;
}

.buttons {
  margin: 0 auto;
}

.button {
  font-variant: small-caps;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 160px;
  padding: 15px 0;
  border: 1px solid rgb(138, 159, 250);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.button:hover, .button:focus {
  background-color: rgb(138, 159, 250);
  color: rgb(255, 255, 255);
}

.login {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.login div {
  cursor: pointer;
  color: rgb(138, 159, 250);
}