.postWrapper {
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
  min-height: 150px;
  width: 95%;
  padding: 10px;
  border: 1.8px solid rgb(138, 159, 250);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
  min-height: 120px;
  width: 80%;
  padding: 10px;
  border: 1px solid rgb(138, 159, 250);
  border-radius: 10px;
  transition: all 0.3s ease;

}

.creator {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-variant: small-caps;
  margin-bottom: 20px;
  margin-top: 0;
}

.content {
  font-size: 18px;
}

.main {
  cursor: pointer;
}

.main:hover {
  transform: scale(1.02, 1.02);
  /* credits to Samuel Thornton from https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
}

.commentFormContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 90%;
  margin-bottom: 25px;
}

.formInput {
  font-size: 18px;
  height: 60%;
  border: 1px solid rgb(138, 159, 250);
  margin-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.formInput:focus {
  outline: none;
  border: 1px solid rgb(138, 159, 250);
}

.formLabel {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.formButton {
  font-variant: small-caps;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 15px auto;
  height: 40px;
  /* margin-top: 10px; */
  width: 100%;
  padding: 10px 0;
  border: 1px solid rgb(138, 159, 250);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.formButton:hover, .formButton:focus {
  outline: none;
  background-color: rgb(138, 159, 250);
  color: rgb(255, 255, 255);
}

.commentsTitle {
  font-weight: 400;
}

.comment {
  display: flex;
  flex-direction: column;
}

.commentAuthor {
  display: flex;
}

.noComments {
  font-weight: 400;
  font-size: 16px;
}